.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  max-width: 360px;
  margin: auto;
  padding-top: 32px;
  box-sizing: border-box;
  text-align: center;  
  color: #fff;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    padding-top: 16px;
  }
}

@media screen and (max-width: 420px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 288px;
  }
}