.header__lang-link-en {
  width: 29px;
  display: inline-block;
  cursor: pointer;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  box-sizing: border-box;
  margin-left: 18px;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.header__lang-link-en:hover {
  opacity: .8;
  transition: opacity 1s ease-out;
}

@media screen and (max-width: 767px) {
  .header__lang-link-en {
    font-size: 18px;
    line-height: 24px;
    width: 22px;
  }
}