@import url(./__list/intro__list.css);
@import url(./__list-bold/intro__list-bold.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  max-width: 690px;
  background: #2A2C2F;
  padding: 92px 148px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1090px) {
  .intro {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px;
  }
}