@import url(./__overlay/cover__overlay.css);
@import url(./__text/cover__text.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  max-width: 1184px;
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../images/jpg/cover-trains.png);
}

@media (max-width: 768px) {
  .cover {
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media (max-width: 737px) {
  .cover {
    margin-bottom: 64px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}