.cover__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px
  }
}


@media screen and (max-width: 320px) {
  .cover__title {
    width: 288px;
  }
}