@import url(../../../vendor/fonts/font-inter.css);

.place__website {
  max-width: 456px;
  align-self: end;
  justify-self: start;
}

@media screen and (max-width: 635px) {
  .place__website {
    display: none;
  }
}